.expire{
    padding-top: 4rem;
    padding-bottom: 1rem;
    display: grid;
    place-items: center;
}
.center h3{
    font-size: 42px;
    font-weight: 500;
    color: #001d38;
    font-family: 'Nuosu SIL',serif;
}
.row{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.single-expire{
    width: 350px;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgb(0 0 0/5%);
    margin-bottom: 30px;
    overflow: hidden; 
}
.column{
    padding-left: 1rem;
    padding-right: 1rem;
}
.column:hover{
    opacity: 75%;
}
.expire-thumb{
    position: relative;
    overflow: hidden;
    height: 200px;
}
.expire-tag{
    position: absolute;
    top: 25px;
    left: 25px;
    background: #fdae5c;
    padding: 8px 14px;
    color:#fff;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
    font-family: "Poppins",sans-serif;
}
.expire-thumb img{
    width: 350px;
    vertical-align: middle;
    transition: .3s;  
}
.single-expire:hover .expire-thumb img{
    transform: scale(1.06);
}
.expire-content{
    padding-left: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.expire-content h1{
    margin-bottom: 8px;
    font-size: 30px;
    color: #001d38;
    font-weight: 1000;
    font-family: "Poppins",sans-serif;
}
.mark span{
    font-size: 13px;
    font-weight: 400;
    color:#919191;
    margin-left: 5px;
    font-family:"Poppins",sans-serif;
}
.amount{
    display: inline-block;
    background: #00d363;
    border-radius: 30px;
    padding: 7px 18px;
    color:#fff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 13px;
    font-family:"Poppins",sans-serif;
}
.expire-footer{
    padding: 10px 0px;
    
}
.expire-footer ul{
   display: flex;
    align-items: center; 
    justify-content: space-between; 
    list-style: none;
}
.expire-footer ul li span{
    font-family:"Poppins",sans-serif;
    color: #001d38;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    padding-right: 30px;
}
.expire-footer ul li img{
   width: 16px;
}
.more-expire{
    padding-top: 2rem;
}
.more-expire .expire-btn{
    padding: 14px 31px;
    display: inline-block;
    border-radius: 2rem;
    font-size: 15px;
    border: 1px solid #fdae5c;
    font-weight: 400;
    font-family:"Poppins",sans-serif;
    letter-spacing: 0.5px;
    color:#fdae5c;
    transition: .5s ease;  
}
.more-expire .expire-btn:hover{
   box-shadow: 0 0 40px 40px #fdae5c inset;
   color: #fff;
   
}
.iconData{
    display: flex;
}
.ExpireButton{
    display: flex;
}
.Expire-Button{
    padding-left: 10%;
    padding-bottom: 20px;
}
.ViewButton{
    padding-bottom: 20px;
    padding-left: 30%;
}
@media screen and (max-width:1156px){
    .row{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px){
    .expire{
        padding-bottom: 2rem;
    }
    .row{
        grid-template-columns: 1fr;
    }
    .single-expire{
        width: 500px;
    }
    .column{
        padding-bottom: 2rem;
    }
    .expire-thumb img{
        width:500px;
    }
    .expire-content{
        padding: 15px;
    }
    .more-expire{
        padding-top: .5rem;
    }
}
@media screen and (max-width:560px){
    .single-expire{
        width:450px;
    }
    .expire-thumb img{
        width:450px;
    }
    .column{
        padding-bottom: 1rem;
    }
}
@media screen and (max-width:483px) {
    .center h3{
        font-size: 35px;
    }
    .single-expire{
        width: 400px;
    }
    .expire-thumb img{
        width: 400px;
    }
    .more-expire .expire-btn{
        padding: 12px 25px;
        font-size: 14px;
    }
}
