.hero{
    width:100%;
    height:100vh;
    position: relative;
}
.hero-mid{
    width:100%;
    height:70vh;
    position: relative;
}

.hero-mid h1{
    padding-top: 4rem !important;
}
.first-des{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 4.5rem;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero-text{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width:100%;
    text-align: center;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.hero-text p{
    font-size: 2rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
    text-align: center;
}
.hero-text img{
    width: 150px;
    font-size: 2rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
    align-items: center;
}
.text1{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

.image1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image1 img{
    width: 100%;
    height: 750px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.image1 img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
.text1{
    display: flex;
 }
.hackathonname{
    padding-left: 40%;
}
.hackathonbutton{
    padding-top: 55px;
    padding-left: 5%;
}
.hero-text1{
    top:20%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -40%);
    width:50%;
    text-align: center;
}
.hero-text1 h1{
    font-size: 1.5rem;
    font-weight: 800;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.hero-text1 p{
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
    padding: 0.5rem 0 0rem 0;
    text-align: center;
}
.hero-text1 img{
    width: 50px;
    height:50px;
    font-size: 2rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
    align-items: center;
}
@media screen and (max-width: 1180px){
    .image1{
        position: relative;
        width: 100%;
        display: block;
        justify-content: space-between;
        z-index: -99;
    }
} 
@media screen and (max-width: 555px){
    .hero-text h1{
        padding: 10px 20px;
    }
    .hero-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }  
    .image1{
        position: relative;
        width: 100%;
        display: block;
        justify-content: space-between;
        z-index: -99;
    }
} 