.App {
  font-family: sans-serif;
  text-align: center;
}
img{
  width: 90%;
  height: 130%;
}
.rowC{
  display:flex;
  flex-direction:row;
}
.header{
  display:flex; 
  flex-direction:row;
}
.logoimg{
  height: 100px;
  width: 100px;
  
}
.text{
  font-size: 100%;
  padding-left: 50px;
}
.image{
  width: 1200px;
  height: 850px;
}
.login{
  padding-top: 10%;
  padding-left: 5vh;
}
#pass{
  width: 300px;
  height: 35px;
}
#button{
  background-color: #FAEAB1;
  height: 30px;
  width: 70px;
  border: 0px;
}
h2{
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 3px ;
}
